@import url("https://use.typekit.net/vcw4kod.css");

@font-face {
    font-family: 'Moon Flower';
    src: url('fonts/moon_flower_bold-webfont.woff2') format('woff2'),
         url('fonts/moon_flower_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$moon-flower: 'Moon Flower', sans-serif;
$warnock: "warnock-pro", serif;