@charset "UTF-8";
@import url("https://use.typekit.net/vcw4kod.css");
@font-face {
  font-family: "Moon Flower";
  src: url("fonts/moon_flower_bold-webfont.woff2") format("woff2"), url("fonts/moon_flower_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background: #efeeeb;
}

body,
button,
input,
select,
optgroup,
textarea {
  color: #2f2e2d;
  font-family: "warnock-pro", serif;
}

::-moz-selection {
  background: #91a6ab;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #91a6ab;
  color: #fff;
  text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Moon Flower", sans-serif;
}

a {
  color: #91a6ab;
  transition: all 0.2s ease-in-out;
}

.page-header {
  padding-top: 3rem;
}
.page-header h1 {
  font-size: clamp(2rem, 5vw, 4.5rem);
  color: #91a6ab;
  font-weight: normal;
  text-transform: uppercase;
}

.popup {
  top: 9rem;
  left: -1.75rem;
}
@media screen and (min-width: 480px) {
  .popup {
    top: -0.5rem;
    left: 0;
    z-index: 1001;
  }
}
@media screen and (min-width: 992px) {
  .popup {
    left: -1rem;
    top: -1rem;
    z-index: 1;
  }
}
@media screen and (min-width: 1280px) {
  .popup {
    left: -1.5rem;
    top: -3.25rem;
  }
}
.popup-link, .popup-trigger {
  background: #2f2e2d;
  width: 5.25rem;
  height: 5.25rem;
  padding: 0.75rem;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 0.05em;
  font-size: 0.6125rem;
  line-height: 1.25em;
  text-transform: lowercase;
  box-shadow: none !important;
}
@media screen and (min-width: 1280px) {
  .popup-link, .popup-trigger {
    width: 6.75rem;
    height: 6.75rem;
    font-size: 0.75rem;
    padding: 1rem;
  }
}
.popup-link span, .popup-trigger span {
  display: block;
  transform: rotate(-10deg);
}

.popup-overlay .close {
  color: #91a6ab;
}
.popup-overlay .info .headline h3 {
  font-size: clamp(1.5rem, 1.8vw, 1.75rem);
  color: #91a6ab;
}
.popup-overlay .info .sub-headline h4 {
  color: #2f2e2d;
}
.popup-overlay .info .copy p {
  color: #2f2e2d;
}
.popup-overlay .info .btn a {
  font-size: 1.125rem;
  color: #91a6ab;
}

section.announcement p {
  font-weight: normal;
  font-size: clamp(0.875rem, 1vw, 1rem);
}

#covid-modal .overlay-wrapper {
  background: #91a6ab;
  border: 1px solid #efeeeb;
}
#covid-modal .close {
  color: #efeeeb;
}
#covid-modal .headline {
  color: #2f2e2d;
  border-color: #efeeeb;
  border-width: 2px;
  margin-bottom: 3rem;
}
#covid-modal .headline h2 {
  font-size: clamp(1.5rem, 3vw, 2.25rem);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
#covid-modal .content h3 {
  color: #2f2e2d;
  font-size: clamp(0.875rem, 1vw, 1rem);
  font-family: "warnock-pro", serif;
  text-transform: none;
  letter-spacing: 0.05em;
}
#covid-modal .content p {
  color: #2f2e2d;
}
#covid-modal .content p a {
  color: #2f2e2d;
  text-decoration: underline;
}

.site-header {
  background: #2f2e2d;
  color: #fff;
}
.site-header a {
  color: #fff;
}
@media screen and (min-width: 1280px) {
  .site-header .site-nav li:after {
    padding: 0 1.25rem;
  }
}
.site-header .site-nav a {
  font-size: 1.5rem;
  font-family: "Moon Flower", sans-serif;
  font-weight: normal;
}
.site-header .site-nav a:hover {
  color: #91a6ab;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate {
    padding-bottom: 4rem;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .nameplate-wrapper {
    border-color: #fff;
    justify-content: space-between;
    padding: 4rem 0 2rem 0;
  }
}
.site-header .nameplate .logo a {
  display: block;
}
.site-header .nameplate .logo .image {
  flex: 1;
}
@media screen and (min-width: 480px) {
  .site-header .nameplate .logo .image {
    flex: none;
  }
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image {
    display: flex;
    justify-content: center;
  }
}
.site-header .nameplate .logo .image img {
  width: 100%;
  max-width: 225px;
}
@media screen and (min-width: 992px) {
  .site-header .nameplate .logo .image img {
    max-width: 100%;
    width: 400px;
  }
}
.site-header .nameplate .info h3 {
  font-size: clamp(1.75rem, 2.7vw, 2.25rem);
  font-weight: normal;
}
.site-header .nameplate .info p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-style: normal;
  line-height: 1.7em;
  text-transform: lowercase;
}
.site-header .hamburger .patty {
  background: #fff;
}
.site-header .hamburger .patty:after, .site-header .hamburger .patty:before {
  background: #fff;
}
.site-header .mobile-nav {
  border-bottom: 1px solid #fff;
}
.site-header .mobile-nav ul a {
  font-size: 2.5rem;
  font-family: "Moon Flower", sans-serif;
  font-weight: normal;
  padding: 0.75rem 0.5rem;
}
.site-header .mobile-nav ul a:hover {
  color: #91a6ab;
}

.site-header.status-view .status {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.site-header.status-view .logo {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .logo {
    width: auto;
  }
}
.site-header.status-view .logo .image {
  width: 80%;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .logo .image {
    width: 100%;
  }
}
.site-header.status-view .logo .image img {
  margin: 0;
  transform: none;
  max-width: 200px;
}
@media screen and (min-width: 768px) {
  .site-header.status-view .logo .image img {
    margin: 0;
    max-width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .logo .image img {
    max-width: 300px;
  }
}
.site-header.status-view .message {
  width: 100%;
  flex: 1;
  text-align: center;
  padding-top: 25px;
}
@media screen and (min-width: 992px) {
  .site-header.status-view .message {
    padding-left: 50px;
    text-align: left;
    width: auto;
    padding-top: 0;
  }
}
.site-header.status-view .message .headline {
  padding-bottom: 10px;
}
.site-header.status-view .message .headline h2 {
  font-weight: 700;
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .message .headline h2 {
    font-size: 2rem;
  }
}
.site-header.status-view .message .copy p {
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.75em;
  text-transform: none;
}
.site-header.status-view .message .copy p + p {
  padding-top: 10px;
}
@media screen and (min-width: 1280px) {
  .site-header.status-view .message .copy p {
    font-size: 1.25rem;
  }
}

body.page-template-location .page-location,
body.page-template-gallery .page-gallery,
body.page-template-menu .page-dine-in-menus {
  color: #91a6ab;
}

.social-links a {
  display: block;
  border-radius: 50%;
}
.social-links a img {
  width: 100%;
}

.site-footer {
  background: #2f2e2d;
}

body.page-template-home .hero-photo {
  position: relative;
}
body.page-template-home .hero-photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-home .hero-photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-home .hero-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 480px) {
  body.page-template-home .hero-photo {
    position: relative;
    max-height: 600px;
  }
  body.page-template-home .hero-photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 34.0277777778%;
  }
  body.page-template-home .hero-photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body.page-template-home .main {
  display: grid;
  padding: 2rem;
  gap: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  body.page-template-home .main {
    padding: 4rem 0;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home .main .description {
    grid-column: 10/span 4;
    grid-row: 1;
    padding-top: 3rem;
    max-width: 320px;
  }
}
body.page-template-home .main .description p {
  font-size: clamp(1.375rem, 1.75vw, 1.625rem);
  line-height: 1.75em;
  font-style: italic;
}
body.page-template-home .main .description p strong {
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.875em;
}
body.page-template-home .main .photos {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 480px) {
  body.page-template-home .main .photos {
    grid-template-areas: "left right-1" "left right-2" "bottom bottom";
  }
}
@media screen and (min-width: 992px) {
  body.page-template-home .main .photos {
    grid-column: 1/span 8;
    grid-row: 1;
  }
}
body.page-template-home .main .photos .left-photo {
  grid-area: left;
}
body.page-template-home .main .photos .right-photo-1 {
  grid-area: right-1;
}
body.page-template-home .main .photos .right-photo-2 {
  grid-area: right-2;
}
body.page-template-home .main .photos .bottom-photo {
  grid-area: bottom;
}
body.page-template-home .main .photos img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body.page-template-location section.location .info {
  padding-right: 2rem;
}
body.page-template-location section.location .info h3 {
  font-size: clamp(1.75rem, 2.7vw, 2.25rem);
  color: #91a6ab;
  font-weight: normal;
  letter-spacing: 0.05em;
}
body.page-template-location section.location .info p {
  font-size: clamp(1rem, 1vw, 1.125rem);
  line-height: 1.5em;
}
body.page-template-location section.location .info p + h3 {
  margin-top: 3rem;
}
body.page-template-location section.location .info a {
  text-decoration: underline;
  color: #2f2e2d;
}
body.page-template-location section.location .map {
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  body.page-template-menu .menu-section.columns-two .items {
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }
}
body.page-template-menu .menu-section.columns-one .section-header {
  text-align: center;
}
body.page-template-menu .menu-section.columns-one .section-header h3 {
  display: inline-block;
}
body.page-template-menu .menu-section.specials .section-header {
  display: none;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 3/span 10;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-menu .menu-section.specials {
    grid-column: 4/span 8;
  }
}
body.page-template-menu .menu-section.specials .items {
  padding: 3rem 3rem 1rem 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items {
    padding: 2rem 4rem 2rem 4rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .items .item {
    margin: 0 auto;
    max-width: 30rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-menu .menu-section.specials .image {
    padding-bottom: 0;
  }
  body.page-template-menu .menu-section.specials .image img {
    position: absolute;
    top: 3rem;
    left: -6rem;
    z-index: 10;
  }
}
body.page-template-menu .menu-section .section-header h3 {
  font-size: clamp(2.75rem, 4.5vw, 4rem);
  font-weight: normal;
}
body.page-template-menu .section-header {
  margin-bottom: 2rem;
}
body.page-template-menu .section-header h3 {
  font-size: clamp(2rem, 3.15vw, 3.25rem);
  letter-spacing: 0.02em;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid;
}
body.page-template-menu .notes p {
  color: #91a6ab;
}
body.page-template-menu nav.menu-subnav {
  padding: 3rem 0;
}
body.page-template-menu nav.menu-subnav a {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  color: #2f2e2d;
  font-family: "Moon Flower", sans-serif;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid transparent;
}
body.page-template-menu nav.menu-subnav a.active, body.page-template-menu nav.menu-subnav a:hover {
  color: #91a6ab;
}
body.page-template-menu .item {
  color: #2f2e2d;
}
body.page-template-menu .item.special {
  text-align: center;
  padding: 1.5rem;
}
body.page-template-menu .item.special .title h4 {
  text-transform: none;
}
body.page-template-menu .item .title h4 {
  letter-spacing: 0.02em;
  font-weight: bold;
  line-height: 1.25em;
  font-family: "warnock-pro", serif;
  font-size: clamp(1.125rem, 1.4vw, 1.25rem);
}
body.page-template-menu .item .title h4 .price:before {
  content: "·";
  padding-left: 0.25rem;
  padding-right: 0.5rem;
}
body.page-template-menu .item .details p {
  line-height: 1.5em;
  font-size: clamp(1rem, 1.2vw, 1.25rem);
}
body.page-template-menu .item .details p span.note, body.page-template-menu .item .details p span.options {
  font-style: italic;
}
body.page-template-menu .notes p {
  font-size: clamp(1rem, 1.2vw, 1.25rem);
  color: #2f2e2d;
  font-style: italic;
}
body.page-template-menu .specials .item + .item {
  padding-top: 2rem;
}
body.page-template-menu .specials .item .title h4 {
  text-transform: none;
}
body.page-template-menu .theme-cream .specials .items {
  background: #91a6ab;
}
body.page-template-menu .theme-cream .section-header h3 {
  color: #2f2e2d;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #91a6ab;
}
body.page-template-menu .theme-cream .special {
  background: #91a6ab;
}
body.page-template-menu .theme-blue {
  background: #91a6ab;
}
body.page-template-menu .theme-blue .specials .items {
  background: #efeeeb;
}
body.page-template-menu .theme-blue .section-header h3 {
  color: #efeeeb;
  letter-spacing: 0.05em;
  border-bottom: 2px solid #efeeeb;
}
body.page-template-menu .theme-blue .special {
  background: #efeeeb;
}
body.page-template-menu .theme-blue nav.menu-subnav a.active, body.page-template-menu .theme-blue nav.menu-subnav a:hover {
  color: #efeeeb;
}

body.page-template-group-dining .section-header h3 {
  font-size: clamp(2.5rem, 4vw, 4rem);
  color: #3a6d84;
}
body.page-template-group-dining section.header {
  color: #4a4a4a;
}
body.page-template-group-dining section.faqs {
  color: #91a6ab;
}
body.page-template-group-dining section.faqs .cta {
  padding-top: 0;
}
body.page-template-group-dining section.faqs .cta .btn {
  background: #3a6d84;
  font-family: "Moon Flower", sans-serif;
  font-size: 3rem;
}
body.page-template-group-dining section.form {
  color: #91a6ab;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-response-message {
  background: #91a6ab;
  color: #fff;
  padding: 1rem;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-button-submit {
  background: #3a6d84;
  font-family: "Moon Flower", sans-serif;
  font-size: 3rem;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field input,
body.page-template-group-dining section.form .forminator-custom-form .forminator-field select {
  border: 1px solid #91a6ab;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label {
  color: #000;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field label span.forminator-required {
  color: #f00;
}
body.page-template-group-dining section.form .forminator-custom-form .forminator-field .forminator-error-message {
  color: #f00;
}
body.page-template-group-dining section.form .footer-copy {
  color: #000;
}
body.page-template-group-dining section.form .post-form-copy {
  color: #000;
}
body.page-template-group-dining section.form .post-form-copy a {
  color: #000;
  text-decoration: underline;
}
body.page-template-group-dining .ui-datepicker-prev span, body.page-template-group-dining .ui-datepicker-next span {
  color: #3a6d84;
}
body.page-template-group-dining .ui-datepicker-month, body.page-template-group-dining .ui-datepicker-year {
  color: #fff;
  background: #3a6d84;
  border-color: #3a6d84;
  font-weight: bold;
}
body.page-template-group-dining .ui-datepicker-calendar {
  border-left: 1px solid #3a6d84;
}
body.page-template-group-dining .ui-datepicker-calendar th {
  background: #3a6d84;
}
body.page-template-group-dining .ui-datepicker-calendar td {
  border-right: 1px solid #3a6d84;
  border-bottom: 1px solid #3a6d84;
  color: #3a6d84;
}
body.page-template-group-dining .ui-datepicker-calendar td a:hover, body.page-template-group-dining .ui-datepicker-calendar td a.ui-state-active {
  background: #3a6d84;
  color: #fff;
}