.mobile-nav {
    border-bottom: 1px solid $white;

	ul {

		a {
            font-size: 2.5rem;
            font-family: $moon-flower;
            font-weight: normal;
            
            padding: 0.75rem 0.5rem;

            &:hover {
                color: $blue;
            }
		}
	}
}