.site-nav {
    li:after {
        @include desktop-medium {
            padding: 0 1.25rem;
        }
    }

    a {
        font-size: 1.5rem;
        font-family: $moon-flower;
        font-weight: normal;
        

        &:hover {
            color: $blue;
        }
    }
}