body,
button,
input,
select,
optgroup,
textarea {
	color: $slate;
	font-family: $warnock;
}


::-moz-selection {
	background: $blue;
	color: $white;
	text-shadow: none;
}

::selection {
	background: $blue;
	color: $white;
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	font-family: $moon-flower;
}

a {
	color: $blue;
	transition: all 0.2s ease-in-out;
}

.page-header {
	padding-top: 3rem;

	h1 {
		font-size: clamp(2rem, 5vw, 4.5rem);
		color: $blue;
		font-weight: normal;
		text-transform: uppercase;
	}
}