body.page-template-group-dining {
    .section-header {
        h3 {
            font-size: clamp(2.5rem, 4vw, 4rem);
            color: $bright-blue;
        }
    }

    section.header {
        color: $charcoal;
    }

    section.faqs {
        color: $blue;

        .cta {
            padding-top: 0;

            .btn {
                background: $bright-blue;
                font-family: $moon-flower;
                font-size: 3rem;
            }
        }
    }

    section.form {
        color: $blue;

        .forminator-custom-form {
            .forminator-response-message {
                background: $blue;
                color: $white;
                padding: 1rem;
            }

            .forminator-button-submit {
                background: $bright-blue;
                font-family: $moon-flower;
                font-size: 3rem;
            }

            .forminator-field {
                input,
                select {
                    border: 1px solid $blue;
                }

                label {
                    color: $black;

                    span.forminator-required {
                        color: #f00;
                    }
                }

                .forminator-error-message {
                    color: #f00;
                }
            }
        }

        .footer-copy {
            color: $black;
        }

        .post-form-copy {
            color: $black;
            a {
                color: $black;
                text-decoration: underline;
            }
        }
    }

    .ui-datepicker {
        &-prev,
        &-next {
            span {
                color: $bright-blue;
            }
        }

        &-month,
        &-year {
            color: $white;
            background: $bright-blue;
            border-color: $bright-blue;
            font-weight: bold;
        }

        &-calendar {
            border-left: 1px solid $bright-blue;

            th {
                background: $bright-blue;
            }

            td {
                border-right: 1px solid $bright-blue;
                border-bottom: 1px solid $bright-blue;
                color: $bright-blue;

                a {
                    &:hover,
                    &.ui-state-active {
                        background: $bright-blue;
                        color: $white;
                    }
                }
            }
        }
    }
}
