body.page-template-home {
	.hero-photo {
		@include aspect-ratio(16, 9);
        @include cover-fill-image;

		@include tablet-small {
			@include aspect-ratio(1440, 490);
			max-height: 600px;
		}
	}
    
    .main {
        display: grid;
        padding: 2rem;
        gap: 2rem;
        max-width: 1600px;
        margin: 0 auto;

        @include desktop-small {
            padding: 4rem 0;
        }

        .description {
            @include desktop-small {
                grid-column: 10 / span 4;
                grid-row: 1;
                padding-top: 3rem;
                max-width: 320px;
            }

            p {
                font-size: clamp(1.375rem, 1.75vw, 1.625rem);
                line-height: 1.75em;
                font-style: italic;

                strong {
                    font-weight: normal;
                    font-style: normal;
                    text-transform: uppercase;
                    font-size: 0.875em;
                }
            }
        }
        
        .photos {
            display: grid;
            gap: 1rem;

            @include tablet-small {
                grid-template-areas:
                    'left right-1'
                    'left right-2'
                    'bottom bottom';
            }

            @include desktop-small {
                grid-column: 1 / span 8;
                grid-row: 1;
            }

            .left-photo {
                grid-area: left;
            }

            .right-photo-1 {
                grid-area: right-1;
            }

            .right-photo-2 {
                grid-area: right-2;
            }

            .bottom-photo {
                grid-area: bottom;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
