#covid-modal {
	.overlay {
		&-wrapper {
			background: $blue;
			border: 1px solid $cream;
		}
	}

	.close {
		color: $cream;
	}

	.headline {
		color: $slate;
		border-color: $cream;
		border-width: 2px;
		margin-bottom: 3rem;

		h2 {
			font-size: clamp(1.5rem, 3vw, 2.25rem);
			text-transform: uppercase;
			letter-spacing: 0.05em;
		}
	}

	.content {
		h3 {
			color: $slate;
			font-size: clamp(0.875rem, 1vw, 1rem);
			font-family: $warnock;
			text-transform: none;
			letter-spacing: 0.05em;
		}

		p {
			color: $slate;

			a {
				color: $slate;
				text-decoration: underline;
			}
		}
	}
}