nav.menu-subnav {
    padding: 3rem 0;

    a {
        font-size: clamp(2.5rem, 4vw, 3.5rem);
        color: $slate;
        font-family: $moon-flower;
        padding-bottom: 0.25rem;
        border-bottom: 3px solid transparent;

        &.active,
        &:hover {
            color: $blue;
        }
    }
}