.theme-cream {

    .specials {
        .items {
            background: $blue;
        }
    }

    .section-header {        
        h3 {
            color: $slate;
            letter-spacing: 0.05em;
            border-bottom: 2px solid $blue;
        }
    }

    .special {
        background: $blue;
    }
}


.theme-blue {
    background: $blue;

    .specials {
        .items {
            background: $cream;
        }
    }

    .section-header {        
        h3 {
            color: $cream;
            letter-spacing: 0.05em;
            border-bottom: 2px solid $cream;
        }
    }

    .special {
        background: $cream;
    }


    nav.menu-subnav {    
        a {    
            &.active,
            &:hover {
                color: $cream;
            }
        }
    }
}

